{% extends 'base.html' %}

{% block title %}
Обратная связь - {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sitebar.html' %}
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}

{% if message.tags == 'error'%}
<div class="alert alert-danger" role="alert" xmlns="http://www.w3.org/1999/html">{{message}}</div>
{% else %}
<div class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
{% endif %}
{% endfor %}
{% endif %}

<h1>Обратная связь</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">Отправить письмо</button>
</form>

{% endblock %}